.page {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.list {
  height:  500px;
  overflow-y: scroll;
}

.item {
  padding: 4px;
  border: 1px solid #ccc;
  border-bottom: none;
}

.item:last-child {
  border-bottom: 1px solid #ccc;
}