.page {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  height: calc(100vh - 500px);
}

.list {
  border: 1px solid #ddd;
  padding: 16px;
  width: 100%;
  /*transform: rotate(180deg);
  direction: rtl;*/
}

.fixedSizeItem {
  height: 36px;
}

.dynamicSizeItem {
  padding: 4px;
  border: 1px solid #ddd;
  border-bottom: none;
  /*transform: rotate(180deg);
  direction: ltr;*/
}

.placeholder {
  height: 36px;
  background-color: tomato;
}